# Python Introduction

## WHY PYTHON ?

* Simple and Easy to learn
* Open Source
* Interpreted  - Reads line by line
* High Level Language - which converts human readle to machine code
* Dynamic Typed
* Memory Management (garbage collector)

In [1]:
5+6 # simple

11

### Data types:
* Languages where datatype allocation happens automatically are **dynamically typed**.

In [3]:
a = 456 # integer
a
type(a)

int

In [4]:
a = '678'  # string
type(a)

str

In [6]:
a = 8j+9  # complex = real + imaginary (j)
a
type(a)

complex

In [7]:
a = 5j
type(a)

complex

In [9]:
a = 9i
type(a)

SyntaxError: invalid decimal literal (1956321832.py, line 1)

In [10]:
a = 98687.987  # float
type(a)

float

In [ ]:
# a = 0 -- False, 1 -- True

In [12]:
a = True  # boolean (0, 1)
type(a)

bool

In [11]:
a = 0
type(a)

int

In [13]:
a = False
type(a)

bool

In [14]:
# to print hello world
print('hello world')

hello world

In [15]:
print(57+8576)

8633

In [16]:
print('57+8576')

57+8576

In [17]:
print('56'+'987')

56987

In [12]:
'hello world'

'hello world'

In [18]:
print('hi, welcome')

hi, welcome

In [19]:
print('Welcome to Data science world!')

Welcome to Data science world!

In [20]:
'Tha data science class starts from today (16-04-2024)'

'Tha data science class starts from today (16-04-2024)'

### Interpreter - line by line execution

In [28]:
b = '5'    
b   # line 1
a = 3 + 6
a  # line 2 execution
a, b # line 3
type(b) # line 4
d = '3'+'5'
d
print(b)
print(a)
print(a,b)
print(type(b))
print(d)

5
9
9 5
<class 'str'>
35

In [30]:
print("welcome")
print('line: 2----> Hello world')
print(1/0)
print('Hello world')

welcome
line: 2----> Hello world

ZeroDivisionError: division by zero

In [31]:
c = 5
d = 5
id(c), id(d)   # Memory management

(140736451765160, 140736451765160)

In [30]:
c = 6
d = 9
id(c), id(d)

(140730212213704, 140730212213800)

In [32]:
print("hi"

SyntaxError: incomplete input (3927587337.py, line 1)

In [35]:
print("hi)

SyntaxError: unterminated string literal (detected at line 1) (2771999186.py, line 1)

In [28]:
import hkg

ModuleNotFoundError: No module named 'hkg'

In [38]:
a = 2
if a<5
    print('welcome')

SyntaxError: expected ':' (2217853272.py, line 2)

In [36]:
a = 'Hi'
if 'i' in a:
print('available')

IndentationError: expected an indented block after 'if' statement on line 2 (1510143126.py, line 3)

## Applications of python

* Web Development        -  Django,Flask 
* Data Science           -  Pandas, Numpy, Matplotlib, seaborn
* Machine Learning & AI  -  Scikit Learn (sklearn),
* Deeplearning           -  Tensorflow,keras
* Automation (webscrapping)      -  Beautifulsoup, request, Selenium
* Desktop GUI            -  Tkinter,Pyqt
* Gaming                 -  Turtle, Pygame
* Networking             -  Paramiko

In [1]:
# Python is both compiled and interpreted.  - Strongly Typed
# Compiler - TRANSLATES - Source code to byte code AT ONE SHOT. 
# Interpreter - EXECUTIION - Of code line by line.

## INTERPRETER

<img src='https://i.ytimg.com/vi/VsjJfaUdFO8/maxresdefault.jpg'/>

## LEXING:

Breaks lines of code to tokens

if tokens is invalid like typo then lexical error will be raised

In [36]:
def add(a,b):
    return a+b
add(1,2)

3

In [32]:
import inspect

code = inspect.getsource(add)
code

'def add(a,b):\n    return a+b\n'

In [33]:
import tokenize
from io import BytesIO

list(tokenize.tokenize(BytesIO(code.encode('utf-8')).readline))

[TokenInfo(type=63 (ENCODING), string='utf-8', start=(0, 0), end=(0, 0), line=''),
 TokenInfo(type=1 (NAME), string='def', start=(1, 0), end=(1, 3), line='def add(a,b):\n'),
 TokenInfo(type=1 (NAME), string='add', start=(1, 4), end=(1, 7), line='def add(a,b):\n'),
 TokenInfo(type=54 (OP), string='(', start=(1, 7), end=(1, 8), line='def add(a,b):\n'),
 TokenInfo(type=1 (NAME), string='a', start=(1, 8), end=(1, 9), line='def add(a,b):\n'),
 TokenInfo(type=54 (OP), string=',', start=(1, 9), end=(1, 10), line='def add(a,b):\n'),
 TokenInfo(type=1 (NAME), string='b', start=(1, 10), end=(1, 11), line='def add(a,b):\n'),
 TokenInfo(type=54 (OP), string=')', start=(1, 11), end=(1, 12), line='def add(a,b):\n'),
 TokenInfo(type=54 (OP), string=':', start=(1, 12), end=(1, 13), line='def add(a,b):\n'),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(1, 13), end=(1, 14), line='def add(a,b):\n'),
 TokenInfo(type=5 (INDENT), string='    ', start=(2, 0), end=(2, 4), line='    return a+b\n'),
 TokenInfo(type=1 (NAME), string='return', start=(2, 4), end=(2, 10), line='    return a+b\n'),
 TokenInfo(type=1 (NAME), string='a', start=(2, 11), end=(2, 12), line='    return a+b\n'),
 TokenInfo(type=54 (OP), string='+', start=(2, 12), end=(2, 13), line='    return a+b\n'),
 TokenInfo(type=1 (NAME), string='b', start=(2, 13), end=(2, 14), line='    return a+b\n'),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(2, 14), end=(2, 15), line='    return a+b\n'),
 TokenInfo(type=6 (DEDENT), string='', start=(3, 0), end=(3, 0), line=''),
 TokenInfo(type=0 (ENDMARKER), string='', start=(3, 0), end=(3, 0), line='')]

## Parsing

Parser uses the token to generate structure - Abstract Structure Tree( AST) to describe relation between tokens by creating tree like structure

if invalid structure like missing parenthesis or indentation , parsing error will be raised

In [8]:
import ast

ast.dump(ast.parse(code))

"Module(body=[FunctionDef(name='add', args=arguments(posonlyargs=[], args=[arg(arg='a'), arg(arg='b')], kwonlyargs=[], kw_defaults=[], defaults=[]), body=[Return(value=BinOp(left=Name(id='a', ctx=Load()), op=Add(), right=Name(id='b', ctx=Load())))], decorator_list=[])], type_ignores=[])"

## Compiler

Converts AST into byte code(.pyc) - Platform independent

if error related to reference to undefined varaiable or mismatch ,then semanti error will be raised

## PVM - Python Virtual Machine (PVM) 
PVM is a program which provides programming environment.

PVM loads bytecode an convert into machine execuable code (o's & 1's)

if error related out of bound or division by zero, runtime error will be raised

## pyc

pyc files are compiled bytecode files that are generated by the Python interpreter when a Python script is imported or executed.

pyc files are used to improve performance of subsequent runs. Pyc files are saved with timestamp, so there is no modification in code m pvm will uses pyc file directly by skipping other methods

# Operators:
* Arithmetic  ---> +, -, *, /, //, %
* Logical   ---> and, or, not
* Conditional  ---> <, >, <=, >=, ==, !=, ~(tilt)

In [37]:
a = 5
b = 9
c = 10
d = 6

In [38]:
#addition
a+b , b+a, 86 + 8765

(14, 14, 8851)

In [39]:
# subtraction
a - b, b-a, 67-90

(-4, 4, -23)

In [40]:
# mul
a * b, 865 *65

(45, 56225)

In [42]:
a = 5
b = 2
a / b, 98/8 # division

(2.5, 12.25)

In [46]:
a = 5
b = 2
print('Divide: ',a / b) # division
print('Remainder: ',a % b)  # modulus (R)
print('Quo: ',a // b) # floor division (Q)

Divide:  2.5
Remainder:  1
Quo:  2

In [47]:
a // b   # floor (Q)

2

In [50]:
# power
a = 5
print(a ** 3)  # 5 * 5 * 55
5 ** 3

125

125

In [51]:
log(a)

NameError: name 'log' is not defined

In [52]:
sin(a)

NameError: name 'sin' is not defined

In [54]:
import math
a = 10
math.log(a)

2.302585092994046

In [55]:
math.sin(a)

-0.5440211108893698

In [56]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

### Logical operation
* bit wise operation
* from LSB = 2^4, 2^3, 2^2 ,2^1, 2^0

In [57]:
a = 15 # decimal converted to binary  1 1 1 1   
b = 10                          #     1 0 1 0
a and b                         #     1 0 1 0
                                # and - bitwise multiplication

10

In [59]:
a or b                 # bit wise add operation      1 1 1 1

15

In [57]:
not a
not b

False

In [58]:
a = 0
not a

True

# conditional operation

In [60]:
a = '16' # string
b = 16  # int
print(a == b) # equality checker

False

In [61]:
a = 18
b = 18
print(a == b) # equality checker

True

In [64]:
a = 9
b= 2
print(a!=b) # Not equal ckecking

True

In [65]:
a = 25
b = 6
print(a < b) # less than

False

In [66]:
print(a>b) # greater than

True

In [64]:
a = 12
b = 10
print(a <= b)

False

In [65]:
print(a >= b)

True

In [68]:
# find the output of following expression ---- > BODMAS
(3+7)/6*(2-3)

-1.6666666666666667

In [67]:
# find the output of following expression
3+7/6*2-3

2.333333333333334

## Data structures
<img src='https://miro.medium.com/max/746/1*VdLFpmSutr5BSbEeAtpmrQ.jpeg'>

## Numbers

In [49]:
### Add
4 + 10

14

In [50]:
# sub
4-6

-2

In [51]:
#multiply
6*5

30

In [52]:
#power
5**3

125

In [53]:
3/2,type(3/2)  # Division

(1.5, float)

In [54]:
3//2 # floor  division

1

In [55]:
4%2 # Modulus

0

In [57]:
10 and 20

20

In [58]:
30 or 40

30

## Variable 

Refer to a object stored in memory

In [62]:
a = 9
b = 10
a+b

19

In [63]:

a = 3+4.5
a

7.5

In [69]:
%whos

Variable   Type        Data/Info
--------------------------------
BytesIO    type        <class '_io.BytesIO'>
a          int         12
add        function    <function add at 0x00000216FE15C360>
b          int         10
c          int         10
code       str         def add(a,b):\n    return a+b\n
d          int         6
inspect    module      <module 'inspect' from 'C<...>hon311\\Lib\\inspect.py'>
math       module      <module 'math' (built-in)>
tokenize   module      <module 'tokenize' from '<...>on311\\Lib\\tokenize.py'>

#### Rules
* It should be meaningful
* Key words or reserved words never used to as varible
* Variable not start with number
* Varible does not contains space
* Special characters not allowed in varible

In [71]:
# reserved words
import keyword  ## reserverd words
print(len(keyword.kwlist))
keyword.kwlist

35

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [72]:
True = 5

SyntaxError: cannot assign to True (1177100085.py, line 1)

In [73]:
true = 5  # true not a keyword
TRUE = 10
true, TRUE

(5, 10)

In [75]:
# variable assigned within limit
x, y = 3, 4
x, y

(3, 4)

In [76]:
# variable assigned exceed the limit
x, y = 3, 4, 0
x, y

ValueError: too many values to unpack (expected 2)

In [77]:
# Variable not start with number
5a = 'Hi'
5a

SyntaxError: invalid decimal literal (3714683224.py, line 2)

In [78]:
a3 = 9
a3

9

In [79]:
# Varible does not contains space
python notes = "variable assignment, operators, data structures"
python notes

SyntaxError: invalid syntax (1005392114.py, line 2)

In [80]:
python_notes = "variable assignment, operators, data structures"
python_notes

'variable assignment, operators, data structures'

In [81]:
pythonnotes = "variable assignment, operators, data structures"
pythonnotes

'variable assignment, operators, data structures'

In [82]:
# Special characters not allowed in varible
python&sql_notes = "joins, aggregate function, variable assignment, operators, data structures"
python&sql_notes

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1070655547.py, line 2)

In [83]:
# Special characters not allowed in varible
python^sql_notes == "joins, aggregate function, variable assignment, operators, data structures"
python^sql_notes

NameError: name 'python' is not defined

In [84]:
# Swap the variables

a = 5
b = 9

temp = a    # temp = 5
a = b    # a = 9
b =temp   # b = 5
a, b
# It is used in other programming language

(9, 5)

In [85]:
# in python we can do in simple way
a = 5
b = 9
a, b = b, a
a, b

(9, 5)