## Indentation
    Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses indentation to indicate a block of code.If the indentation is not correct we will endup with IndentationError error.

In [1]:
p = 10
if p == 10: # true
    print ('P is equal to 10') # correct indentation

P is equal to 10

In [2]:
p = 10
if p == 10:
 print ('P is equal to 10') # correct indentation

P is equal to 10

In [3]:
# if indentation is skipped we will encounter "IndentationError: expected an inde
p = 10
if p == 10:
print ('P is equal to 10')

IndentationError: expected an indented block after 'if' statement on line 3 (1693978761.py, line 4)

### Range

In [1]:
range(0,10)

range(0, 10)

In [2]:
print(range(10,20))

range(10, 20)

In [3]:
for i in range(10,15):
    print(i)

10
11
12
13
14

In [4]:
for i in range(0,5):
 print(i)

0
1
2
3
4

In [6]:
# if indentation is skipped we will encounter "IndentationError: expected an indented block
for i in range(0,5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 2 (4284280885.py, line 3)

In [5]:
for i in range(0,5): print(i) # correct indentation but less readable

0
1
2
3
4

In [7]:
j=20
for i in range(0,5):
     print(i) # inside the for loop
print(j) # outside the for loop

0
1
2
3
4
20

# string
* single quote ---> ' '
* double quote ---> " "
* triple quote ---> ''' ''' or """ """
* immutable

### String Creation

In [9]:
# single quotes
str1 = 'Hi welcome to data science'
str1, type(str1)

('Hi welcome to data science', str)

In [10]:
# double quotes
str1 = "Hi welcome to data science"
str1

'Hi welcome to data science'

In [12]:
# triple quotes
str1 = """Hi welcome to data science"""
str1

'Hi welcome to data science'

In [15]:
# multi line
str1 = '''he crocodile was very hungry 
he stopped in the middle of the river and said to the monkey, 
My father is very sick. He has to eat the heart of the monkey.'''
str1

'he crocodile was very hungry \nhe stopped in the middle of the river and said to the monkey, \nMy father is very sick. He has to eat the heart of the monkey.'

In [16]:
# multi line
str2 = """he crocodile was very hungry, 
he stopped in the middle of the river and said to the monkey, 
My father is very sick. He has to eat the heart of the monkey."""
str2

'he crocodile was very hungry, \nhe stopped in the middle of the river and said to the monkey, \nMy father is very sick. He has to eat the heart of the monkey.'

In [18]:
text = "Hi it's me"
text

"Hi it's me"

In [20]:
text = 'He said, "I finished my homework." will change to He said he finished his homework.'
text

'He said, "I finished my homework." will change to He said he finished his homework.'

In [21]:
text = '''He said, "I finished my homework." will change to He said he finished his homework.'''
text

'He said, "I finished my homework." will change to He said he finished his homework.'

### Comments
* '#' --> symbol

### length

In [22]:
# identify the length of string
text = "Hi it's me!, How is your work? my num 865975"
len(text) # Length of string

44

### concatination

In [11]:
value = '5'
value + value
value, type(value)

('5', str)

In [12]:
value1 = value + value  # + --> concatenate
value1

'55'

In [13]:
# String concatenation
s1 = "Hello"
s2 = "how are you"
s3 = s1 + s2
print(s3)

Hellohow are you

In [14]:
# String concatenation
s3 = s1 + ", " + s2
print(s3)

Hello, how are you

In [15]:
# String concatenation
s3 = "**********" + s1 +'! ' + s2 + "**********"
print(s3)

**********Hello! how are you**********

In [16]:
# use + to concatenate
str2 = 5
'given values is ' + str2

TypeError: can only concatenate str (not "int") to str

In [17]:
# use + to concatenate
str2 = '5'
'given values is ' + str2

'given values is 5'

In [18]:
str2 = 5
'given values is ' + str(str2)  # typecating --> one data type to another

'given values is 5'

In [1]:
# --- typecasting
str3 = 5   # integer
print(str3)
print(type(str3))
print('*' * 20)

str4 = str(str3)  # string
print(str4)
print(type(str4))
print('*' * 20)

str5 = float(str3)  # float
print(str5)  # float
print(type(str5))
print('*' * 20)

str6 = float(str4)
print(str6)
print(type(str6))

5
<class 'int'>
********************
5
<class 'str'>
********************
5.0
<class 'float'>
********************
5.0
<class 'float'>

In [52]:
# typecasting -- > convert one data type to another
print('given values is '+ str(str3))

given values is 5

### indexing
<center>
<img src ='https://miro.medium.com/max/1400/1*6xXLjk-Jq23LRNBTDGK3Uw.png' width=600>
</center>

In [3]:
str1 ='Hello World!'
str1

'Hello World!'

In [5]:
str1[0] # First character in string "str1"

'H'

In [22]:
str1[2]

'l'

In [23]:
str1[6]

'W'

In [24]:
str1[-6] # end = -1-1 =-2

'W'

In [25]:
str1[-11]

'e'

In [27]:
str1[len(str1)-1] # Last character in string using len function

'!'

In [60]:
str1[-1] # Last character in string

'!'

### String Slicing
* syntax = **variable(starting : ending : step)**, step is optional

In [28]:
print(str1)

Hello World!

In [30]:
print(str1[0:5]) # String slicing - Fetch all characters from 0 to 5 
print(str1[:5]) # start : stop (n-1): step (n-1)

Hello
Hello

In [32]:
print(str1[6:11])
print(str1[6:])

World
World!

In [33]:
print(str1[::-1]) # reverse

!dlroW olleH

In [34]:
print(str1[0::1]) # skip 1 leter

Hello World!

In [35]:
print(str1[::2])

HloWrd

In [36]:
print(str1[::3])

HlWl

In [37]:
print(str1[1:7:2])

el

### update & delete the string

In [38]:
str1 = 'Hello World'
str1

'Hello World'

In [39]:
str1[1] = 'i'   # immutable

TypeError: 'str' object does not support item assignment

In [41]:

print(str1)
str[0:5] = 'Hiiii'  # immutable - we can't change the value

Hello World

TypeError: 'type' object does not support item assignment

In [44]:
str2 = 'Welcome'
str2

'Welcome'

In [45]:
del str2 # Delete a string

In [46]:
str2

NameError: name 'str2' is not defined

### Function

#### strip

In [47]:
mystr1 = 'hello world'
mystr1

'hello world'

In [68]:
mystr2 = '      Hello WOrld           '
mystr2

'      Hello WOrld           '

In [49]:
mystr2.strip() # Removes white space from begining & end

'Hello WOrld'

In [50]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

'      Hello WOrld'

In [51]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello WOrld           '

In [63]:
mystr3 = "*********Hello Everyone***********All the Best**********"
mystr3

'*********Hello Everyone***********All the Best**********'

In [64]:
mystr3.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [65]:
mystr3.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [66]:
mystr3.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [70]:
mystr1.strip('h')

'ello world'

#### text formating

In [71]:
mystr1 = 'Hello WORLD'
mystr1.lower() # Return whole string in lowercase

'hello world'

In [72]:
mystr1.upper() # Return whole string in uppercase

'HELLO WORLD'

In [73]:
mystr1.title()

'Hello World'

In [74]:
mystr1.capitalize()

'Hello world'

#### replace

In [75]:
mystr3

'*********Hello Everyone***********All the Best**********'

In [77]:
mystr3
mystr3.replace("*","") # Replace substring "e" with "i"

'Hello EveryoneAll the Best'

In [81]:
mystr1

'Hello WORLD'

In [79]:
mystr1.replace("e","i") # Replace substring "e" with "i"

'Hillo WORLD'

In [83]:
mystr1
mystr1.replace("Hello","HELLO")

'HELLO WORLD'

#### count

In [85]:
mystr3 = "one, two, Three One two two Three one"
mystr3

'one, two, Three One two two Three one'

In [86]:
mystr3.count("Three") # Number of times substring "one" occurred in string.

2

In [88]:
mystr3.count('One')

1

In [89]:
mystr3.count(" ")

7

In [90]:
mystr3.count(',')

2

In [91]:
mystr3.count('o')

5

In [92]:
mystr3.count('i')

0

#### split

In [93]:
mystr4 = "one two three four one two two three five five six seven six seven one"
mystr4

'one two three four one two two three five five six seven six seven one'

In [96]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [97]:
mystr4.split('e')

['on',
 ' two thr',
 '',
 ' four on',
 ' two two thr',
 '',
 ' fiv',
 ' fiv',
 ' six s',
 'v',
 'n six s',
 'v',
 'n on',
 '']

In [98]:
mystr5 = 'welcome/My/India'
mystr5.split('/')

['welcome', 'My', 'India']

In [99]:
mystr5 = 'welcome/My/India'
mystr5.split('e')

['w', 'lcom', '/My/India']

#### other functions

In [106]:
print(mystr4)
print(mystr4.startswith('one'))
print(mystr4.endswith('one'))
print(mystr4.endswith('two'))
print(mystr4.startswith('three'))
print(mystr4.startswith('e'))
print(mystr4.startswith('o'))

one two three four one two two three five five six seven six seven one
True
True
False
False
False
True

In [107]:
## split string 
str1 = 'Hi$python'
str1.split('$')

['Hi', 'python']

In [108]:
str1.split('y')

['Hi$p', 'thon']

In [7]:
mystr5 = 'mango, banana, orange'

In [111]:
spl_data = mystr5.split(',')
spl_data

['mango', ' banana', ' orange']

In [115]:
' '.join(mystr5.split(','))

'mango  banana  orange'

In [114]:
' and'.join(spl_data)

'mango and banana and orange'

In [116]:
str1 = 'sql, python, machine learning, tableau'
str2 = str1.split(',')
str2

['sql', ' python', ' machine learning', ' tableau']

In [117]:
' '.join(str2)

'sql  python  machine learning  tableau'

In [9]:
# with out using concatenate 
full_name = 'surya prakash'
# separate first name
fn = full_name.split(' ')[0]
fn
print('First Name: ',fn)

# Last name separate
ln = full_name.split(' ')[1]
print('Last Name: ',ln)

# join
full_name = 'surya/prakash'
print('Full Name: ', ' '.join(full_name.split('/')))

First Name:  surya
Last Name:  prakash
Full Name:  surya prakash

### replace

In [123]:
# Replace
## -1 for all occurances
## 1 for first occurance 
## 2 for first 2 occurance 
## 3 for first 3 occurance
# syntax: old, new, values
a = 'nice story, impressed'
a
a.replace('e','E',2)

'nicE story, imprEssed'

In [124]:
fruits = "mango, orange, banana"
fruits.replace(',', ' and')

'mango and orange and banana'

### find

In [129]:
# find  -- first occurance of index
a = 'why python is needed'
a
print(a.find('y'))
print(a.find('e'))
print(a.find('5')) # false
print(a.find('w'))
print(a.find('q'))

2
15
-1
0
-1

In [131]:
print(a.rfind('e'))
print(a.find('e'))

18
15

In [130]:
print(a.rfind('y'))
print(a.find('y'))

5
2

In [136]:
b = 'flowers.csv'
b.find('.')

# try to get words before '.' using index
print(b[0:7])

# using find function
print(b[0:b.find('.')])

# try to get words after '.' using
print(b[8:])

# using find
print(b[b.find('.')+1:])

flowers
flowers
csv
csv

In [137]:
# example
str3 = 'document.doc'
str3
str3[0:str3.find('.')]+'.pdf'

'document.pdf'

### index

In [142]:
# index is similar to find
a = 'why python is needed'

print(a.index('y'))
print(a.index('d'))
print(a.index('5'))
print(a.index('s'))
print(a.index('q'))

2
17

ValueError: substring not found

### String Membership

In [143]:
mystr1 = "Hello Everyone"
print ('Helo' in mystr1) # Check whether substring "Hello" is present in string 
print ('Everyone' in mystr1) # Check whether substring "Everyone" is present in string
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string

False
True
False

In [146]:
# check substring 

a = "Hello Everyone"

if 'Hello' in a:
    print("yes line 1 avilable")
if 'H' in a:
    print("yes line 3 avilable")
if 'Everyone'in a:
    print("yes line 2 avilable")
else:
    print('substring not avilable')

yes line 1 avilable
yes line 3 avilable
yes line 2 avilable

### reverse

In [147]:
## reverse a string
str1 = 'hello'
str1[::-1] # start, end, step, end = n-1, step =n-1

'olleh'

### F-string - format string

In [11]:
# String formatting
# without type casting printing a value 
int1 = 65
int2 = 867.86
f'given values is {int1}'
f'The given value is in integer and float format. The numbers are {int1}, {int2}'

'The given value is in integer and float format. The numbers are 65, 867.86'

In [154]:
item1 = 40  ## index=0
item2 = 55
item3 = 77

result = f'Cost of item1, item2 and item3 are {item2}, {item3} and {item1}'
print(result)

res = "Cost of item3, item2 and item1 are {}, {} and {}"
print(res.format(item3,item2,item1))

result1 = "Cost of item3, item2 and item1 are {0} , {1} and {2}"
print(result1.format(item2,item2,item3))

Cost of item1, item2 and item3 are 55, 77 and 40
Cost of item3, item2 and item1 are 77, 55 and 40
Cost of item3, item2 and item1 are 55 , 55 and 77

In [ ]:
# Task 1: ## reversing an integer and negative integer

In [163]:
mystr6 = '123456789'
print(mystr6.isalpha()) 
print(mystr6.isalnum()) 
print(mystr6.isdecimal())
print(mystr6.isnumeric())
print(mystr6.isdigit())

False
True
True
True
True

In [164]:
mystr6 = 'abcde'

print(mystr6.isalpha()) 
print(mystr6.isalnum()) 
print(mystr6.isdecimal())
print(mystr6.isnumeric())

True
True
False
False

In [16]:
mystr6 = 'abc12309'

print(mystr6.isalpha()) 
print(mystr6.isalnum()) 
print(mystr6.isdecimal())
print(mystr6.isnumeric())

False
True
False
False

In [17]:
mystr7 = 'ABCDEF'
print(mystr7.isupper()) # Returns True if all the characters are in upper case
print(mystr7.islower()) # Returns True if all the characters are in lower case

True
False

In [18]:
mystr8 = 'abcdef'
print(mystr8.isupper()) # Returns True if all the characters are in upper case
print(mystr8.islower()) # Returns True if all the characters are in lower case

False
True

In [136]:
# Using Escape Characte
# Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (2595192424.py, line 3)

In [166]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

In [167]:
mystr = """My favourite series is \"Game of Thrones\""""
print(mystr)

My favourite series is "Game of Thrones"