# Functions
* A function is a block of organized code written to carry out a specified task.
* Functions help break our program into smaller and modular chunks for better readability.
* Information can be passed into a function as arguments.
* Parameters are specified after the function name inside the parentheses.
* We can add as many parameters as we want. Parameters must be separated with a comma.
* A function may or may not return data.
* In Python a function is defined using the **def** keyword

<img src='https://media.geeksforgeeks.org/wp-content/uploads/20220721172423/51.png' width=600>

### Parameter VS Argument
* A parameter is the variable listed inside the parentheses in the function definition.
* An argument is the value that is sent to the function when it is called.

### Types of function
* Built-in function :- Python predefined functions that are readily available for use like min() ,
max() , sum() , print() etc.
* User-Defined Functions:- Function that we define ourselves to perform a specific task.
* Anonymous functions : Function that is defined without a name. Anonymous functions are also called as **lambda functions**. They are not declared with the def keyword.

* without parameer
* with parameter
* default parameter
* *args
* **kwargs

In [1]:
# A simple Python function

def myfunc():
     print("Hello Data community")

In [2]:
# calling the function
myfunc()

Hello Data community

In [3]:
# with parameters

# create the function for adding two numbers
def add(a,b):
    print('The Value is:',a+b)

add(6,4)
add(2, 2+7j)
add('Hi',' Welcome')
add(4+8j, 2+6j)

The Value is: 10
The Value is: (4+7j)
The Value is: Hi Welcome
The Value is: (6+14j)

In [7]:
def sub(a,b):
    return a-b

sub(4,8)
print('The Value is:',sub(10,5))
print('The Value is:',sub(4,7))
print(sub(4,8))

The Value is: 5
The Value is: -3
-4

In [8]:

def details(name,userid,country): # Function to print User details
 print('Name :- ', name)
 print('User ID :- ', userid)
 print('Country :- ',country)
 
details('Banu' , 'DS123' , 'India')
details('Akila','DS124','India')

Name :-  Banu
User ID :-  DS123
Country :-  India
Name :-  Akila
User ID :-  DS124
Country :-  India

In [9]:
def square (n): #function to find square of a number
     sqr = n*n
     return sqr
square(5)
square(8)

64

In [10]:
def even_odd (num): # Even odd test
 """ This function will check whether a number is even or odd"""   # documents string
 if num % 2 ==0:
      print (num, ' is even number')
 else:
      print (num, ' is odd number')

even_odd(39)
even_odd(4)
print(even_odd.__doc__) # Print function documentation string

39  is odd number
4  is even number
 This function will check whether a number is even or odd

In [11]:
def fullname (firstname , middlename ,lastname): # Concatenate Strings
     fullname = "{} {} {}".format(firstname,middlename,lastname)
     print (fullname)

fullname('Pathma' , 'Raman' , 'Thiyagu')

Pathma Raman Thiyagu

In [12]:
def fullname (firstname , middlename ,lastname): # Concatenate Strings
     fullname = "{} {} {}".format(lastname,middlename,firstname)
     print (fullname)

fullname('Pathma' , 'Raman' , 'Thiyagu')

Thiyagu Raman Pathma

In [13]:
def fullname (firstname , middlename ,lastname): # Concatenate Strings
 fullname = "{} {} {}".format(firstname,middlename,lastname)
 print (fullname)
fullname(firstname = 'Roja', middlename = 'bunddle', lastname = 'Flower')

Roja bunddle Flower

In [14]:
def fullname (firstname , middlename ,lastname): # Concatenate Strings
 fullname = "{} {} {}".format(firstname,middlename,lastname)
 print (fullname)
fullname(lastname = 'Roja', middlename = 'bunddle', firstname = 'Flower')

Flower bunddle Roja

In [17]:
def fullname (firstname , middlename ,lastname): # Concatenate Strings
 fullname = "{} {} {}".format(firstname,middlename,lastname)
 print (fullname)

fullname(firstname = 'Roja', lastname = 'Flower')

TypeError: fullname() missing 1 required positional argument: 'middlename'

In [18]:
# default function
def myfunc(city = 'Mumbai'):
     print('City name :- ', city)
 
myfunc()

City name :-  Mumbai

In [19]:
# default function
def myfunc(city = 'Mumbai'):
     print('City name :- ', city)
 
myfunc('Delhi')

City name :-  Delhi

In [22]:
list1 = [11,22,33,44,55]
def myfunc(list1):
     del list1[0]

print('"List1" before calling the function:- ',list1)
myfunc(list1) # Pass by reference (Any change in the parameter within the function
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [22, 33, 44, 55]

In [28]:
list1 = [11,22,33,44,55,99]    # global variable

def myfunc1(list1):
    list1 = [10,100,1000,10000] # link of 'list1' with previous object is broken --> local variable 
    print('"List1" inside the myfunc function:- ',list1)
    return(list1)

print('"List1" before calling the function:- ',list1)
myfunc1(list1) # Pass by reference (Any change in the parameter within the function
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55, 99]
"List1" inside the myfunc function:-  [10, 100, 1000, 10000]
"List1" after calling the function:-  [11, 22, 33, 44, 55, 99]

In [26]:
%whos

Variable   Type        Data/Info
--------------------------------
add        function    <function add at 0x00000208FBF6D440>
details    function    <function details at 0x00000208FBF6D260>
even_odd   function    <function even_odd at 0x00000208FBF6D800>
fullname   function    <function fullname at 0x00000208FBF6CCC0>
list1      list        n=6
myfunc     function    <function myfunc at 0x00000208FBF6DF80>
myfunc1    function    <function myfunc1 at 0x00000208FC059DA0>
square     function    <function square at 0x00000208FBF6D120>
sub        function    <function sub at 0x00000208FBF6D4E0>

In [29]:
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)


# argument is given in order
print("Case-1:")
nameAge("Suraj", 27)

# argument is not in order
print("\nCase-2:")
nameAge(27, "Suraj")

print("\nCase-3:")
nameAge(age=27, name="Suraj")

Case-1:
Hi, I am Suraj
My age is  27

Case-2:
Hi, I am 27
My age is  Suraj

Case-3:
Hi, I am Suraj
My age is  27

In [15]:
# Task : identify the Factorial number
def factorial(num): # Calculate factorial of a number using recursive function
 if num <=1 :
     return 1
 else:
     return num * factorial(num-1)
 
factorial(4)

24

In [16]:
# Task : Generate Fibonacci series
def fiboacci(num):
 if num <= 1:
     return num
 if num == 2:
     return 1
 else: 
     return(fiboacci(num-1) + fiboacci(num-2)) 
nums = int(input("How many fibonacci numbers you want to generate -"))
for i in range(nums):
 print(fiboacci(i)) # Generate Fibonacci series

How many fibonacci numbers you want to generate - 8

0
1
1
2
3
5
8
13

In [19]:
# default arguments
def myFun(y=50):
    print("y: ", y)
myFun(10)

y:  10

In [20]:
# default arguments
def myFun(y=50):
    print("y: ", y)
myFun()

y:  50

#### args & kwargs
##### *args
* When we are not sure about the number of arguments being passed to a function then we can use *args as function parameter.
* *args allow us to pass the variable number of Non Keyword Arguments to function.
* We can simply use an asterisk * before the parameter name to pass variable length arguments.
* The arguments are always passed as a tuple.

##### **kwargs
* **kwargs allows us to pass the variable number of Keyword Arguments to the function.
* We can simply use an double asterisk ** before the parameter name to pass variable length
arguments.
* The arguments are passed as a dictionary.

In [31]:
def add(a,b,c):
     return a+b+c
 
add(10,20,30,56) # Sum of two numbers

TypeError: add() takes 3 positional arguments but 4 were given

In [37]:
def some_args(arg_1, arg_2, arg_3):
 print("arg_1:", arg_1)
 print("arg_2:", arg_2)
 print("arg_3:", arg_3)
my_list = [2, 3]
some_args(1, *my_list)

arg_1: 1
arg_2: 2
arg_3: 3

In [36]:
# function with arguments (*args)
def add(*a):
     return sum(a)
    
print(add(1,2,3))
print(add(1,2,3,4)) # *args will take dynamic argument list. 
print(add(1,2,3,4,5))
print(add(1,2,3,4,5,6))
print(add(1,2,3,4,5,6,7))

6
10
15
21
28

In [37]:
def UserDetails(**kwargs):
     for key,val in kwargs.items():
         print("{} : {}".format(key,val))
         
UserDetails(Name='Roja' , ID='DS024' , Pincode=41102 , Age= 33 , Country= 'India')

Name : Roja
ID : DS024
Pincode : 41102
Age : 33
Country : India

## calculator project
* get user input
* add,sub,div,modulus,floor divison, mul
* print output

In [45]:
def add(c,d):
    print('addition',c+d)

def sub(e,f):
    print('subtraction',e-f)

def div(g,h):
  print('division',g/h)

def flor(i,j):
    print("floor division",i//j)

def mod(k,l):
    print("modulus",k%l)

def mul(m,n):
    print("multplication", m*n)
    
a = input('enter number a:')  ## usually string ' '
b = input('enter number b:')
if type(b) is not int or type(a) is not int:
        a = int(a)
        b = int(b)

add(a,b)
sub(a,b)
div(a,b) 
mod(a,b)
flor(a,b)
mul(a,b)

enter number a: 7
enter number b: 9

addition 16
subtraction -2
division 0.7777777777777778
modulus 7
floor division 0
multplication 63

In [ ]:
def add(c,d):
 return ('add',c+d)

def sub(e,f):
   return ('sub',e-f)

def div(g,h):
  return ('div',g/h)

def flor(i,j):
  return ("floor",i//j)

def mod(k,l):
  return ("mod",k%l)

def mul(m,n):
    return("multiplication", m*n)
    
a = input('enter number a:')
b = input('enter number b:')
c = input('which function:')
if type(b) is not int:
        a = int(a)
        b = int(float(b))
value = 0
if c=='add':
    value = add(a,b)
elif c=='sub':
    value = sub(a,b) 
elif c=='div':
    value = div(a,b)
elif c=='flor':
    value = flor(a,b)
elif c=='mod':
    value = mod(a,b)
elif c=='mul':
    value = mul(a,b)
else:
   print('no funcction aviaalble')


print('given functon is '+c+ ' and output is '+str(value))

## Lambda function
* A lambda function is an anonymous function (function without a name).
* Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned.
* We use lambda functions when we require a nameless function for a short period of time

<img src = 'https://miro.medium.com/v2/resize:fit:1200/0*4eRr7IZ3sP2ZAE8H.png' width = 500>

In [38]:
## anonymous function
# write a program for square value
x = lambda x:x**2
x(8)

64

In [39]:
addition = lambda a : a + 10 # This lambda function adds value 10 to an argument
print(addition())

TypeError: <lambda>() missing 1 required positional argument: 'a'

In [40]:
addition = lambda a : a + 10 # This lambda function adds value 10 to an argument
print(addition(5))

15

In [41]:
product = lambda a, b : a * b #This lambda function takes two arguments (a,b)
print(product(5, 6))

30

In [42]:
res = (lambda *args: max(args)) 
res(10,20) , res(10,20,30,40) , res(10,20,30,40,50,60,70)

(20, 40, 70)

In [43]:
res1 = (lambda **kwargs: sum(kwargs.values())) 
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(60, 150)

## Higher order function
* map
* filter
* reduce

### map
* The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns a list of the results.
* syntax = map(function, iteration)
* map() function takes two Parameters:
  1. function : The function to execute for each item of given iterable.
  2. iterable : It is a iterable which is to be mapped.

In [44]:
a = [8, 6, 3, 4]
print(a)
print('Multiplication by 2')
# # multiply all value by 2 output also displayed as list
print(list(map(lambda y:y*2, a)))

print('Cube root of a')
# find the cube root for the values in the list
list(map(lambda z:z**3, a))

[8, 6, 3, 4]
Multiplication by 2
[16, 12, 6, 8]
Cube root of a

[512, 216, 27, 64]

In [45]:
list1 = range(1,10)
doubles = list(map(lambda n:n*2,list1)) # This map function will double all item
doubles

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### filter
* It is used to filter the iterables/sequence as per the conditions.
* Filter function filters the original iterable and passes the items that returns True for the function provided to filter.
* It is normally used with Lambda functions to filter list, tuple, or sets
* suntax = filter (function, iteration)
* filter() function takes two Parameters:
  1. function : function tests if elements of an iterable returns true or false.
  2. iterable : Sequence which needs to be filtered, could be sets, lists, tuples, or any iterators.

In [7]:
list1

range(1, 10)

In [46]:
def odd(n):
 if n%2 == 1: 
     return True
 else: 
     return False

 
odd_num = list(filter(odd,list1)) # This Filter function filters list1 and passes
odd_num

[1, 3, 5, 7, 9]

In [47]:
list1 = range(1, 21)
odd_num = list(filter(lambda x:x%2==1,list1)) # This Filter function filters list1 and passes
odd_num

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
# give only even number
list2 = [7, 8, 3, 6, 8, 5,9]
list(filter(lambda x:x%2==0,list2))

[8, 6, 8]

In [15]:
list1 = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda n: n%2 == 0 ,list1)) # Filter even numbers from the list
odd = list(filter(lambda n: n%2 != 0 ,list1)) # Filter odd numbers from the list
print('Even numbers : ', even)
print('Odd numbers : ', odd)
print('--------')

list2 = ['one' , 'TWO' , 'three' , 'FOUR']
upper = list(filter(lambda x: x.isupper() , list2)) # filter uppercase strings from the list
lower = list(filter(lambda x: x.islower() , list2)) # filter lowercase strings from the list
print('Upper content : ', upper)
print('lower content : ', lower)
print('--------')

list3 = ['one' , 'two2' , 'three3' ,'88' , '99' , '102']
numeric = list(filter(lambda x:x.isnumeric(), list3)) # filter numbers from the 
alpha = list(filter(lambda x:x.isalpha(), list3)) # filter character strings
alphanum = list(filter(lambda x:x.isalnum(), list3)) # filtr numbers & character 
print(alpha)
print(numeric)
print(alphanum)

Even numbers :  [2, 4, 6, 8, 10]
Odd numbers :  [1, 3, 5, 7, 9]
--------
Upper content :  ['TWO', 'FOUR']
lower content :  ['one', 'three']
--------
['one']
['88', '99', '102']
['one', 'two2', 'three3', '88', '99', '102']

### Reduce
* The reduce() function is defined in the functools python module.
* The reduce() function receives two arguments, a function and an iterable. However, it doesn't return another iterable, instead it returns a single value.

In [48]:
doubles

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [49]:
from functools import reduce

def add(a,b):
 return a+b
 
sum_all = reduce(add,doubles) # This reduce function will perform sum of all item
sum_all

90

In [50]:
sum_res = reduce(lambda a,b:a+b, doubles)
sum_res

90

In [25]:
a = [8, 9, 4, 3, 6]
sum_all = reduce(lambda a,b : a+b,a)
sum_all

30

In [20]:
product = reduce(lambda a,b : a*b,a)
product

576

# Scope & Namespace

#### In a Python program, types of namespaces:
* Built-In
* Global
  - The global namespace contains any names defined at the level of the main program.
* Local
  - That namespace is local to the function and remains in existence until the function terminates.

##### Built-In
- The built-in namespace contains the names of all of Pythonâ€™s built-in objects. These are available at all times when Python is running.

In [21]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [22]:
a = 10 # global

def ab():
    a = a+5

ab()
a

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [23]:
a = 10

def ab():
    a = 15
    a = a+5
    return a

print(ab())
print(a)

20
10

In [24]:
a = 10

def ab():
    global a
    a = a+5
ab()
a

15

In [32]:
def add(a,b):
    c = 15  # local
    print('c->',c)
    
    return a+b

c  = 10
add(1,2),c

c-> 15

(3, 10)

In [30]:
def add(a,b):
    global c
    c = 15  # local
    print('c->',c)
    
    return a+b

c  = 10  # global
add(1,2),c

c-> 15

(3, 15)

In [33]:
%whos

Variable   Type                          Data/Info
--------------------------------------------------
a          int                           15
ab         function                      <function ab at 0x000001D84EAE3E20>
add        function                      <function add at 0x000001D84ECF8D60>
alpha      list                          n=1
alphanum   list                          n=6
c          int                           10
doubles    list                          n=9
even       list                          n=5
list1      list                          n=10
list2      list                          n=4
list3      list                          n=6
lower      list                          n=2
numeric    list                          n=3
odd        list                          n=5
odd_num    list                          n=10
product    int                           576
reduce     builtin_function_or_method    <built-in function reduce>
sum_all    int                           90
sum_res    int                           90
upper      list                          n=2

# modules and packages

In [34]:
## modules and packages

## modules --> files 
## packages --> the folder which contains the file 

## to view the list of inbuilt key words 

import keyword  ## reserverd words
print(len(keyword.kwlist))
keyword.kwlist

35

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [38]:
import pandas as pd

df = pd.read_excel('D:\Greens technologies\Book1.xlsx')
df

  NAME  PRODUCT  SALES
0   abc       a      5
1   def       b      4
2   abc       a      2
3   def       b      1

In [16]:
from sklearn.model_selection import train_test_split 
# sklearn -- package
# model_seection -- module
# train_test_split -- library
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression